In [2]:
%conda install folium

Retrieving ndone
Channels:
 - defaults
Platform: osx-64
doneecting package metadata (repodata.json): -
doneing environment: |

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
wego = pd.read_csv("../data/Route 50 Timepoint and Headway Data, 1-1-2023 through 5-12-2025.csv")

In [5]:
wego

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120230101,3,93549161,2023-01-01,50,5000,2355,332422,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,8.133333
1,120230101,3,93549162,2023-01-01,50,5000,2355,332422,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,5,0.000000
2,120230101,3,93549163,2023-01-01,50,5000,2355,332422,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,11,0.000000
3,120230101,3,93549164,2023-01-01,50,5000,2355,332422,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,13,0.000000
4,120230101,3,93549165,2023-01-01,50,5000,2355,332422,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,18,2.150000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618993,120250512,1,119531049,2025-05-12,50,8401,3077,432121,0,FROM DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,23,4.500000
618994,120250512,1,119531638,2025-05-12,50,9302,3246,432353,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,27.283333
618995,120250512,1,119531639,2025-05-12,50,9302,3246,432353,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,0.133333
618996,120250512,1,119531770,2025-05-12,50,9950,2448,432387,0,TO DOWNTOWN,...,10.883333,0.883333,0,0,1,0,0.0,0,2,8.166666
618997,120250512,1,119531771,2025-05-12,50,9950,2448,432387,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,2.200000

In [6]:
wego['ROUTE_ABBR'].value_counts().sort_index()

ROUTE_ABBR
50    618998
Name: count, dtype: int64

In [7]:
(
    wego
    .loc[wego['CALENDAR_ID'] == 120230101]
    .loc[wego['TRIP_ID'] == 332422]
    [['DATE', 'CALENDAR_ID', 'TRIP_ID', 'ROUTE_ABBR', 'TIME_POINT_ABBR', 'TRIP_EDGE', 'SCHEDULED_TIME']]
)

,DATE,CALENDAR_ID,TRIP_ID,ROUTE_ABBR,TIME_POINT_ABBR,TRIP_EDGE,SCHEDULED_TIME
0,2023-01-01,120230101,332422,50,WALM,1,05:34:00
1,2023-01-01,120230101,332422,50,HLWD,0,05:40:00
2,2023-01-01,120230101,332422,50,WHBG,0,05:47:00
3,2023-01-01,120230101,332422,50,CH46,0,05:50:00
4,2023-01-01,120230101,332422,50,28&CHARL,0,05:54:00
5,2023-01-01,120230101,332422,50,MCC5_1,2,06:05:00

In [8]:
(
    wego
    .loc[wego['CALENDAR_ID'] == 120230102]
    .loc[wego['TRIP_ID'] == 332422]
    [['DATE', 'CALENDAR_ID', 'TRIP_ID', 'ROUTE_ABBR', 'TIME_POINT_ABBR', 'TRIP_EDGE', 'SCHEDULED_TIME']]
)

,DATE,CALENDAR_ID,TRIP_ID,ROUTE_ABBR,TIME_POINT_ABBR,TRIP_EDGE,SCHEDULED_TIME
516,2023-01-02,120230102,332422,50,WALM,1,05:34:00
517,2023-01-02,120230102,332422,50,HLWD,0,05:40:00
518,2023-01-02,120230102,332422,50,WHBG,0,05:47:00
519,2023-01-02,120230102,332422,50,CH46,0,05:50:00
520,2023-01-02,120230102,332422,50,28&CHARL,0,05:54:00
521,2023-01-02,120230102,332422,50,MCC5_1,2,06:05:00

In [9]:
(
    wego
    .loc[wego['CALENDAR_ID'] == 120230101]
    .loc[wego['TRIP_ID'] == 332423]
    [[
        'DATE', 'CALENDAR_ID', 'TRIP_ID', 'ROUTE_ABBR',
        'TIME_POINT_ABBR', 'TRIP_EDGE',
        'SCHEDULED_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE',
        'ADJUSTED_EARLY_COUNT', 'ADJUSTED_LATE_COUNT', 'ADJUSTED_ONTIME_COUNT'
    ]]
)

,DATE,CALENDAR_ID,TRIP_ID,ROUTE_ABBR,TIME_POINT_ABBR,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT
6,2023-01-01,120230101,332423,50,MCC5_1,1,06:15:00,06:20:12,-5.200000,0,0,1
7,2023-01-01,120230101,332423,50,28&CHARL,0,06:25:00,06:26:55,-1.916666,0,0,1
8,2023-01-01,120230101,332423,50,CH46,0,06:29:00,06:31:29,-2.483333,0,0,1
9,2023-01-01,120230101,332423,50,WHBG,0,06:33:00,06:35:12,-2.200000,0,0,1
10,2023-01-01,120230101,332423,50,HLWD,0,06:40:00,06:40:41,-0.683333,0,0,1
11,2023-01-01,120230101,332423,50,WALM,2,06:47:00,06:44:01,2.983333,0,0,1

In [10]:
(
    wego
    .loc[wego['CALENDAR_ID'] == 120230101]
    .loc[wego['TRIP_ID'] == 332493]
    [[
        'DATE', 'CALENDAR_ID', 'TRIP_ID', 'ROUTE_ABBR',
        'TIME_POINT_ABBR', 'TRIP_EDGE',
        'SCHEDULED_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE',
        'ADJUSTED_EARLY_COUNT', 'ADJUSTED_LATE_COUNT', 'ADJUSTED_ONTIME_COUNT'
    ]]
)

,DATE,CALENDAR_ID,TRIP_ID,ROUTE_ABBR,TIME_POINT_ABBR,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT
210,2023-01-01,120230101,332493,50,MCC5_1,1,14:35:00,14:42:44,-7.733333,0,1,0
211,2023-01-01,120230101,332493,50,28&CHARL,0,14:45:00,14:49:29,-4.483333,0,0,1
212,2023-01-01,120230101,332493,50,CH46,0,14:49:00,14:54:25,-5.416666,0,0,1
213,2023-01-01,120230101,332493,50,WHBG,0,14:53:00,14:57:02,-4.033333,0,0,1
214,2023-01-01,120230101,332493,50,HLWD,0,15:01:00,15:03:04,-2.066666,0,0,1
215,2023-01-01,120230101,332493,50,WALM,2,15:10:00,15:06:38,3.366666,0,0,1

In [11]:
(
    wego
    .loc[wego['CALENDAR_ID'] == 120230101]
    .loc[wego['TRIP_ID'] == 332431]
    [[
        'DATE', 'CALENDAR_ID', 'TRIP_ID', 'ROUTE_ABBR',
        'TIME_POINT_ABBR', 'TRIP_EDGE',
        'SCHEDULED_TIME', 'ACTUAL_DEPARTURE_TIME', 'ADHERENCE',
        'ADJUSTED_EARLY_COUNT', 'ADJUSTED_LATE_COUNT', 'ADJUSTED_ONTIME_COUNT'
    ]]
)

,DATE,CALENDAR_ID,TRIP_ID,ROUTE_ABBR,TIME_POINT_ABBR,TRIP_EDGE,SCHEDULED_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT
54,2023-01-01,120230101,332431,50,MCC5_1,1,12:15:00,12:10:04,4.933333,1,0,0
55,2023-01-01,120230101,332431,50,28&CHARL,0,12:25:00,12:27:55,-2.916666,0,0,1
56,2023-01-01,120230101,332431,50,CH46,0,12:29:00,12:30:48,-1.800000,0,0,1
57,2023-01-01,120230101,332431,50,WHBG,0,12:34:00,12:33:37,0.383333,0,0,1
58,2023-01-01,120230101,332431,50,HLWD,0,12:42:00,12:41:42,0.300000,0,0,1
59,2023-01-01,120230101,332431,50,WALM,2,12:50:00,12:48:24,1.600000,0,0,1

In [12]:
(
    wego
    .loc[wego['ROUTE_DIRECTION_NAME'] == 'TO DOWNTOWN']
    .loc[wego['TIME_POINT_ABBR'] == 'CH46']
    [['DATE', 'TRIP_ID', 'TIME_POINT_ABBR','ROUTE_DIRECTION_NAME', 'TRIP_EDGE', 
      'SCHEDULED_TIME', 'SCHEDULED_HDWY',
      'ACTUAL_DEPARTURE_TIME', 'ACTUAL_HDWY', 'HDWY_DEV'
     ]]
    .sort_values(['DATE', 'SCHEDULED_TIME'])
    .iloc[:5]
)

,DATE,TRIP_ID,TIME_POINT_ABBR,ROUTE_DIRECTION_NAME,TRIP_EDGE,SCHEDULED_TIME,SCHEDULED_HDWY,ACTUAL_DEPARTURE_TIME,ACTUAL_HDWY,HDWY_DEV
3,2023-01-01,332422,CH46,TO DOWNTOWN,0,05:50:00,NaN,05:50:34,NaN,NaN
147,2023-01-01,332482,CH46,TO DOWNTOWN,0,06:20:00,30.0,06:19:11,28.616666,-1.383334
243,2023-01-01,332536,CH46,TO DOWNTOWN,0,06:50:00,30.0,06:50:14,31.050000,1.050000
15,2023-01-01,332424,CH46,TO DOWNTOWN,0,07:20:00,30.0,07:24:18,34.066666,4.066666
159,2023-01-01,332484,CH46,TO DOWNTOWN,0,07:50:00,30.0,07:51:15,26.950000,-3.050000

In [13]:
feb3 = wego.loc[wego['DATE']== "2025-02-03" ]
feb3

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
546973,120250203,1,117339007,2025-02-03,50,318,3443,417223,0,TO DOWNTOWN,...,13.333333,13.333333,0,0,1,0,0.0,0,2,35.766666
546974,120250203,1,117339008,2025-02-03,50,318,3443,417223,0,TO DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,3,0.000000
546975,120250203,1,117339821,2025-02-03,50,5000,329,417725,0,TO DOWNTOWN,...,NaN,NaN,1,0,0,0,0.0,0,2,7.550000
546976,120250203,1,117339822,2025-02-03,50,5000,329,417725,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,5,0.000000
546977,120250203,1,117339823,2025-02-03,50,5000,329,417725,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,11,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547772,120250203,1,117346947,2025-02-03,50,8401,3077,420453,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,23,3.533333
547773,120250203,1,117347528,2025-02-03,50,9302,3246,420590,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,46.966666
547774,120250203,1,117347529,2025-02-03,50,9302,3246,420590,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.716666
547775,120250203,1,117347660,2025-02-03,50,9950,2448,420621,0,TO DOWNTOWN,...,12.233333,2.233333,0,0,1,0,0.0,0,2,33.566666
547776,120250203,1,117347661,2025-02-03,50,9950,2448,420621,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,0.000000

## block from Feb 3 noon to Feb 10 noon where TSP UNCONDITIONAL is ON

In [15]:
wego['DATE'] = pd.to_datetime(wego['DATE'])

In [16]:
tsp_half_chunk = wego.loc[wego['DATE'] >= '2025-2-4']
tsp_one_chunk = tsp_half_chunk.loc[tsp_half_chunk['DATE'] <='2025-2-9']
tsp_one_first_day=wego.loc[wego['DATE']=='2025-2-3']
tsp_one_time = tsp_one_first_day.loc[tsp_one_first_day['ACTUAL_ARRIVAL_TIME']>'12:00:00']
tsp_one_last_day=wego.loc[wego['DATE']=='2025-2-10']
tsp_last_time = tsp_one_last_day.loc[tsp_one_last_day['ACTUAL_ARRIVAL_TIME']<'12:00:00']
tsp_one_complete = pd.concat([tsp_one_first_day, tsp_one_chunk,tsp_one_last_day])
tsp_one_complete

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
546973,120250203,1,117339007,2025-02-03,50,318,3443,417223,0,TO DOWNTOWN,...,13.333333,13.333333,0,0,1,0,0.0,0,2,35.766666
546974,120250203,1,117339008,2025-02-03,50,318,3443,417223,0,TO DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,3,0.000000
546975,120250203,1,117339821,2025-02-03,50,5000,329,417725,0,TO DOWNTOWN,...,NaN,NaN,1,0,0,0,0.0,0,2,7.550000
546976,120250203,1,117339822,2025-02-03,50,5000,329,417725,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,5,0.000000
546977,120250203,1,117339823,2025-02-03,50,5000,329,417725,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,11,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552906,120250210,1,117588646,2025-02-10,50,8401,3077,420453,0,FROM DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,23,5.916666
552907,120250210,1,117589227,2025-02-10,50,9302,3246,420590,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,56.550000
552908,120250210,1,117589228,2025-02-10,50,9302,3246,420590,0,TO DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,3,2.200000
552909,120250210,1,117589359,2025-02-10,50,9950,2254,420621,0,TO DOWNTOWN,...,11.150000,1.150000,0,0,1,0,0.0,0,2,24.883333
552910,120250210,1,117589360,2025-02-10,50,9950,2254,420621,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,0.000000

## (Block from Feb 10 noon to April 28 noon where TSP Schedule-Conditional Priority is ON)

In [18]:
tscpb_chunk = wego[wego['DATE'].between('2025/2/11','2025/4/27')]
tscpb_first_day=wego[wego['DATE']=='2025/2/10']
tscpb_first_time = tscpb_first_day[tscpb_first_day['ACTUAL_ARRIVAL_TIME']>'12:00:00']
tscpb_last_day=wego[wego['DATE']=='2025/4/28']
tscpb_last_time = tscpb_last_day[tscpb_last_day['ACTUAL_ARRIVAL_TIME']<'12:00:00']
tscpb_complete = pd.concat([tscpb_first_time, tscpb_chunk, tscpb_last_time])
tscpb_complete

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
552095,120250210,1,117580691,2025-02-10,50,318,3443,417223,0,TO DOWNTOWN,...,NaN,NaN,1,0,0,0,0.0,0,2,14.016666
552096,120250210,1,117580692,2025-02-10,50,318,3443,417223,0,TO DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,3,3.266666
552158,120250210,1,117581593,2025-02-10,50,5000,1419,417735,0,TO DOWNTOWN,...,14.683333,-0.316667,0,0,1,0,0.0,0,255,0.000000
552159,120250210,1,117581594,2025-02-10,50,5000,1419,417735,0,TO DOWNTOWN,...,13.666666,-1.333334,0,0,1,0,0.0,0,261,2.650000
552160,120250210,1,117581595,2025-02-10,50,5000,1419,417735,0,TO DOWNTOWN,...,18.383333,3.383333,0,0,1,0,0.0,0,264,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608684,120250428,1,119086575,2025-04-28,50,5005,2548,429685,0,FROM DOWNTOWN,...,13.733333,-1.266667,0,0,1,0,0.0,0,184,7.400000
608764,120250428,1,119088865,2025-04-28,50,5593,3507,430504,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,23,5.633333
608765,120250428,1,119088866,2025-04-28,50,5593,3507,430504,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,24,4.100000
608766,120250428,1,119092944,2025-04-28,50,8401,3077,432121,0,FROM DOWNTOWN,...,NaN,NaN,1,0,0,0,0.0,0,22,9.066666
608767,120250428,1,119092945,2025-04-28,50,8401,3077,432121,0,FROM DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,13.266666

## Block from April 28 noon to May 5 noon where TSP is OFF

In [20]:
tsp_off_chunk = wego[wego['DATE'].between('2025/4/29','2025/5/4')]
tsp_off_first_day = wego[wego['DATE']=='2025/4/28']
tsp_off_first_time = tsp_off_first_day[tsp_off_first_day['ACTUAL_ARRIVAL_TIME']>'12:00:00']
tsp_off_last_day = wego[wego['DATE']=='2025/5/5']
tsp_off_last_time = tsp_off_last_day[tsp_off_last_day['ACTUAL_ARRIVAL_TIME']<'12:00:00']
tsp_off_complete = pd.concat([tsp_off_first_time,tsp_off_chunk,tsp_off_last_time])
tsp_off_complete

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
607968,120250428,1,119085032,2025-04-28,50,318,3443,428880,0,TO DOWNTOWN,...,5.783333,NaN,0,0,1,0,0.0,0,2,30.350000
607969,120250428,1,119085033,2025-04-28,50,318,3443,428880,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,5.400000
608031,120250428,1,119085912,2025-04-28,50,5000,329,429394,0,TO DOWNTOWN,...,11.450000,-3.550000,0,0,1,0,0.0,0,266,2.350000
608032,120250428,1,119085913,2025-04-28,50,5000,329,429394,0,TO DOWNTOWN,...,11.050000,-3.950000,0,0,1,0,0.0,0,272,0.000000
608033,120250428,1,119085914,2025-04-28,50,5000,329,429394,0,TO DOWNTOWN,...,11.166666,-3.833334,0,0,1,0,0.0,0,275,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613796,120250505,1,119328676,2025-05-05,50,5005,3328,429685,0,FROM DOWNTOWN,...,15.800000,0.800000,0,0,1,0,0.0,0,184,13.066666
613876,120250505,1,119331004,2025-05-05,50,5593,2512,430504,1,FROM DOWNTOWN,...,NaN,NaN,0,1,0,0,0.0,0,23,21.333333
613877,120250505,1,119331005,2025-05-05,50,5593,2512,430504,1,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,24,2.183333
613878,120250505,1,119335092,2025-05-05,50,8401,3077,432121,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,22,24.166666
613879,120250505,1,119335093,2025-05-05,50,8401,3077,432121,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,23,3.416666

## (Block from May 5 at noon to May 12 noon where TSP UNCONDITIONAL is ON)

In [22]:
tsp_two_chunk = wego.loc[wego['DATE'].between('2025/5/6','2025/5/11')]
tsp_two_first_day = wego.loc[wego['DATE']=='2025/5/5']
tsp_two_first_time = tsp_two_first_day.loc[tsp_two_first_day['ACTUAL_ARRIVAL_TIME']>'12:00:00']
tsp_two_last_day = wego.loc[wego['DATE']=='2025/5/12']
tsp_two_last_time = tsp_two_last_day.loc[tsp_two_last_day['ACTUAL_ARRIVAL_TIME']<'12:00:00']
tsp_two_complete = pd.concat ([tsp_two_first_time, tsp_two_chunk, tsp_two_last_time])
tsp_two_complete

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
613080,120250505,1,119327138,2025-05-05,50,318,3443,428880,0,TO DOWNTOWN,...,1.916666,1.916666,0,0,1,0,0.0,0,2,8.900000
613081,120250505,1,119327139,2025-05-05,50,318,3443,428880,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,3,11.933333
613143,120250505,1,119328013,2025-05-05,50,5000,329,429394,0,TO DOWNTOWN,...,4.183333,-10.816667,0,0,1,0,0.0,0,266,0.000000
613144,120250505,1,119328014,2025-05-05,50,5000,329,429394,0,TO DOWNTOWN,...,3.216666,-11.783334,0,0,1,0,0.0,0,272,0.000000
613145,120250505,1,119328015,2025-05-05,50,5000,329,429394,0,TO DOWNTOWN,...,5.433333,-9.566667,0,0,1,0,0.0,0,275,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618910,120250512,1,119524690,2025-05-12,50,5005,2548,429685,0,FROM DOWNTOWN,...,15.800000,0.800000,0,0,1,0,0.0,0,184,11.333333
618990,120250512,1,119526979,2025-05-12,50,5593,3353,430504,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,23,16.000000
618991,120250512,1,119526980,2025-05-12,50,5593,3353,430504,0,FROM DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,24,2.533333
618992,120250512,1,119531048,2025-05-12,50,8401,3077,432121,0,FROM DOWNTOWN,...,NaN,NaN,1,0,0,0,0.0,0,22,14.200000
618993,120250512,1,119531049,2025-05-12,50,8401,3077,432121,0,FROM DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,23,4.500000

In [23]:
wego_sub = wego[['ROUTE_STOP_SEQUENCE','LATITUDE','LATITUDE','SCHEDULED_HDWY','SCHEDULED_TIME','ACTUAL_ARRIVAL_TIME',"ADJUSTED_LATE_COUNT",'ACTUAL_HDWY','HDWY_DEV','ADHERENCE']]

In [24]:
wego.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618998 entries, 0 to 618997
Data columns (total 30 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   CALENDAR_ID                618998 non-null  int64
 1   SERVICE_ABBR               618998 non-null  int64
 2   ADHERENCE_ID               618998 non-null  int64
 3   DATE                       618998 non-null  datetime64[ns]
 4   ROUTE_ABBR                 618998 non-null  int64
 5   BLOCK_ABBR                 618998 non-null  int64
 6   OPERATOR                   618998 non-null  int64
 7   TRIP_ID                    618998 non-null  int64
 8   OVERLOAD_ID                618998 non-null  int64
 9   ROUTE_DIRECTION_NAME       618998 non-null  object
 10  TIME_POINT_ABBR            618998 non-null  object
 11  ROUTE_STOP_SEQUENCE        618998 non-null  int64
 12  TRIP_EDGE                  618998 non-null  int64
 13  LATITUDE                   618998 non-null  float64
 14  LONGITUDE                  618998 non-null  float64
 15  SCHEDULED_TIME             618998 non-null  object
 16  ACTUAL_ARRIVAL_TIME        600793 non-null  object
 17  ACTUAL_DEPARTURE_TIME      600780 non-null  object
 18  ADHERENCE                  600780 non-null  float64
 19  SCHEDULED_HDWY             503668 non-null  float64
 20  ACTUAL_HDWY                488321 non-null  float64
 21  HDWY_DEV                   488107 non-null  float64
 22  ADJUSTED_EARLY_COUNT       618998 non-null  int64
 23  ADJUSTED_LATE_COUNT        618998 non-null  int64
 24  ADJUSTED_ONTIME_COUNT      618998 non-null  int64
 25  STOP_CANCELLED             618998 non-null  int64
 26  PREV_SCHED_STOP_CANCELLED  514057 non-null  float64
 27  IS_RELIEF                  618998 non-null  int64
 28  BLOCK_STOP_ORDER           618998 non-null  int64
 29  DWELL_IN_MINS              600770 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(16), object(5)
memory usage: 141.7+ MB

In [25]:
wego['TIME_POINT_ABBR'].unique()

array(['WALM', 'HLWD', 'WHBG', 'CH46', '28&CHARL', 'MCC5_1', 'MLKS',
       'MCC4_13', 'MCC5_2', 'HEAD', 'MCC4_22', 'MCC4_20', 'MCC5_11',
       'MCC4_14'], dtype=object)

## CH46,28&CHARL, MCC5_1 have TSP

## WALM, WHBG Do not have TSP

## Q3 Average late busses

In [29]:
wego_sub['TIME_OF_DAY_CATEGORY']=pd.cut(wego_sub['SCHEDULED_TIME'],bins=['05:00:00','08:00:00','11:00:00','14:00:00','17:00:00','20:00:00','24:00:00'],include_lowest=True,labels=['EM','MP','MD','AP','EP','LN'])
wego_sub

/var/folders/xm/zcj7d6494pd3w3f_ptrhh9lr0000gn/T/ipykernel_1812/9207789.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wego_sub['TIME_OF_DAY_CATEGORY']=pd.cut(wego_sub['SCHEDULED_TIME'],bins=['05:00:00','08:00:00','11:00:00','14:00:00','17:00:00','20:00:00','24:00:00'],include_lowest=True,labels=['EM','MP','MD','AP','EP','LN'])

,ROUTE_STOP_SEQUENCE,LATITUDE,LATITUDE,SCHEDULED_HDWY,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ADJUSTED_LATE_COUNT,ACTUAL_HDWY,HDWY_DEV,ADHERENCE,TIME_OF_DAY_CATEGORY
0,17,36.132451,36.132451,NaN,05:34:00,05:29:52,0,NaN,NaN,-4.000000,EM
1,16,36.138535,36.138535,NaN,05:40:00,05:42:38,0,NaN,NaN,-2.633333,EM
2,15,36.149997,36.149997,NaN,05:47:00,05:48:29,0,NaN,NaN,-1.483333,EM
3,14,36.152077,36.152077,NaN,05:50:00,05:50:34,0,NaN,NaN,-0.566666,EM
4,13,36.153870,36.153870,NaN,05:54:00,05:53:14,0,NaN,NaN,-1.383333,EM
...,...,...,...,...,...,...,...,...,...,...,...
618993,12,36.158659,36.158659,NaN,07:40:00,07:33:12,0,NaN,NaN,2.300000,EM
618994,7,36.158659,36.158659,NaN,15:05:00,14:38:33,0,NaN,NaN,-0.833333,AP
618995,4,36.167091,36.167091,NaN,15:18:00,15:18:06,0,NaN,NaN,-0.233333,AP
618996,11,36.161197,36.161197,10.0,15:20:00,15:14:10,0,10.883333,0.883333,-2.333333,AP
618997,5,36.167091,36.167091,NaN,15:37:00,15:29:16,0,NaN,NaN,5.533333,AP

In [30]:
wego_late_count = wego_sub.loc[wego_sub['ADJUSTED_LATE_COUNT'] == 1]
wego_late_count

,ROUTE_STOP_SEQUENCE,LATITUDE,LATITUDE,SCHEDULED_HDWY,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ADJUSTED_LATE_COUNT,ACTUAL_HDWY,HDWY_DEV,ADHERENCE,TIME_OF_DAY_CATEGORY
12,17,36.132451,36.132451,30.0,07:03:00,06:44:01,1,35.883333,5.883333,-6.483333,EM
48,17,36.132451,36.132451,20.0,11:31:00,11:10:47,1,30.783333,10.783333,-11.400000,MD
49,16,36.138535,36.138535,20.0,11:38:00,11:49:02,1,30.683333,10.683333,-11.033333,MD
50,15,36.149997,36.149997,20.0,11:46:00,11:56:45,1,29.983333,9.983333,-10.750000,MD
51,14,36.152077,36.152077,20.0,11:50:00,11:59:58,1,29.900000,9.900000,-9.966666,MD
...,...,...,...,...,...,...,...,...,...,...,...
618940,18,36.132451,36.132451,15.0,15:54:00,15:45:11,1,19.550000,4.550000,-7.116666,AP
618941,17,36.138535,36.138535,15.0,16:01:00,16:07:48,1,19.533333,4.533333,-6.800000,AP
618942,16,36.149997,36.149997,15.0,16:10:00,16:14:17,1,22.850000,7.850000,-9.300000,AP
618943,15,36.152077,36.152077,15.0,16:14:00,16:23:20,1,23.966666,8.966666,-9.333333,AP
618944,14,36.153870,36.153870,15.0,16:18:00,16:27:13,1,24.333333,9.333333,-10.983333,AP

In [31]:
wego_late_count['ADHERENCE'].mean()

-10.88793528393662

In [58]:
em_wego_late_count= wego_late_count.loc[wego_late_count['TIME_OF_DAY_CATEGORY']== 'EM']
em_wego_late_count

,ROUTE_STOP_SEQUENCE,LATITUDE,LATITUDE,SCHEDULED_HDWY,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ADJUSTED_LATE_COUNT,ACTUAL_HDWY,HDWY_DEV,ADHERENCE,TIME_OF_DAY_CATEGORY
12,17,36.132451,36.132451,30.0,07:03:00,06:44:01,1,35.883333,5.883333,-6.483333,EM
662,15,36.149997,36.149997,30.0,06:17:00,06:21:33,1,33.750000,3.750000,-6.233333,EM
762,12,36.167091,36.167091,30.0,07:15:00,07:04:00,1,35.900000,5.900000,-6.700000,EM
1813,13,36.154039,36.154039,NaN,05:24:00,05:30:11,1,NaN,NaN,-6.183333,EM
1814,14,36.152286,36.152286,NaN,05:28:00,05:35:20,1,NaN,NaN,-7.333333,EM
...,...,...,...,...,...,...,...,...,...,...,...
616981,16,36.150052,36.150052,15.0,07:48:00,07:55:31,1,25.900000,10.900000,-11.683333,EM
616982,17,36.138948,36.138948,15.0,07:55:00,08:07:09,1,25.833333,10.833333,-12.150000,EM
617234,18,36.132451,36.132451,29.0,06:03:00,05:39:32,1,32.816666,3.816666,-6.133333,EM
617431,13,36.167091,36.167091,NaN,07:35:00,07:42:22,1,NaN,NaN,-7.366666,EM
618429,13,36.167091,36.167091,NaN,07:35:00,07:41:28,1,NaN,NaN,-6.466666,EM

In [60]:
em_wego_late_count['ADHERENCE'].mean()

-9.80366434653044

In [62]:
md_wego_late_count= wego_late_count.loc[wego_late_count['TIME_OF_DAY_CATEGORY']== 'MD']
md_wego_late_count

,ROUTE_STOP_SEQUENCE,LATITUDE,LATITUDE,SCHEDULED_HDWY,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ADJUSTED_LATE_COUNT,ACTUAL_HDWY,HDWY_DEV,ADHERENCE,TIME_OF_DAY_CATEGORY
48,17,36.132451,36.132451,20.0,11:31:00,11:10:47,1,30.783333,10.783333,-11.400000,MD
49,16,36.138535,36.138535,20.0,11:38:00,11:49:02,1,30.683333,10.683333,-11.033333,MD
50,15,36.149997,36.149997,20.0,11:46:00,11:56:45,1,29.983333,9.983333,-10.750000,MD
51,14,36.152077,36.152077,20.0,11:50:00,11:59:58,1,29.900000,9.900000,-9.966666,MD
52,13,36.153870,36.153870,20.0,11:54:00,12:02:46,1,28.700000,8.700000,-8.766666,MD
...,...,...,...,...,...,...,...,...,...,...,...
618773,17,36.138535,36.138535,15.0,12:37:00,12:41:32,1,20.983333,5.983333,-6.300000,MD
618774,16,36.149997,36.149997,15.0,12:46:00,12:50:21,1,20.216666,5.216666,-6.533333,MD
618775,15,36.152077,36.152077,15.0,12:50:00,12:55:17,1,21.250000,6.250000,-7.483333,MD
618776,14,36.153870,36.153870,15.0,12:54:00,13:01:32,1,21.283333,6.283333,-7.533333,MD
618777,13,36.167091,36.167091,NaN,13:05:00,13:12:51,1,NaN,NaN,-7.850000,MD

In [64]:
md_wego_late_count['ADHERENCE'].mean()

-10.09117076671336

In [66]:
##'EM','MP','MD','AP','EP','LN'])

In [72]:
mp_wego_late_count= wego_late_count.loc[wego_late_count['TIME_OF_DAY_CATEGORY']== 'MP']
mp_wego_late_count

,ROUTE_STOP_SEQUENCE,LATITUDE,LATITUDE,SCHEDULED_HDWY,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ADJUSTED_LATE_COUNT,ACTUAL_HDWY,HDWY_DEV,ADHERENCE,TIME_OF_DAY_CATEGORY
768,17,36.132451,36.132451,30.0,08:03:00,07:45:39,1,31.033333,1.033333,-6.333333,MP
769,16,36.138535,36.138535,30.0,08:09:00,08:15:24,1,32.933333,2.933333,-6.400000,MP
770,15,36.149997,36.149997,30.0,08:17:00,08:24:44,1,33.333333,3.333333,-7.733333,MP
771,14,36.152077,36.152077,30.0,08:20:00,08:26:58,1,33.633333,3.633333,-6.966666,MP
780,17,36.132451,36.132451,29.0,09:32:00,09:13:20,1,29.933333,0.933333,-6.100000,MP
...,...,...,...,...,...,...,...,...,...,...,...
618455,14,36.154039,36.154039,15.0,10:55:00,11:01:04,1,18.983333,3.983333,-6.066666,MP
618887,14,36.154039,36.154039,15.0,09:10:00,09:16:49,1,20.483333,5.483333,-6.816666,MP
618888,15,36.152286,36.152286,15.0,09:14:00,09:21:19,1,20.300000,5.300000,-7.316666,MP
618889,16,36.150052,36.150052,15.0,09:18:00,09:25:51,1,22.183333,7.183333,-7.850000,MP
618890,17,36.138948,36.138948,15.0,09:25:00,09:33:19,1,22.116666,7.116666,-8.316666,MP

In [81]:
mp_wego_late_count['ADHERENCE'].mean()

-9.849769880920613

In [74]:
ap_wego_late_count= wego_late_count.loc[wego_late_count['TIME_OF_DAY_CATEGORY']== 'AP']
ap_wego_late_count

,ROUTE_STOP_SEQUENCE,LATITUDE,LATITUDE,SCHEDULED_HDWY,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ADJUSTED_LATE_COUNT,ACTUAL_HDWY,HDWY_DEV,ADHERENCE,TIME_OF_DAY_CATEGORY
72,17,36.132451,36.132451,20.0,14:51:00,14:29:13,1,24.116666,4.116666,-8.550000,AP
73,16,36.138535,36.138535,20.0,14:58:00,15:06:50,1,24.983333,4.983333,-8.833333,AP
74,15,36.149997,36.149997,20.0,15:06:00,15:14:15,1,23.583333,3.583333,-8.250000,AP
75,14,36.152077,36.152077,20.0,15:10:00,15:17:28,1,23.016666,3.016666,-7.466666,AP
76,13,36.153870,36.153870,20.0,15:14:00,15:21:00,1,23.166666,3.166666,-7.000000,AP
...,...,...,...,...,...,...,...,...,...,...,...
618940,18,36.132451,36.132451,15.0,15:54:00,15:45:11,1,19.550000,4.550000,-7.116666,AP
618941,17,36.138535,36.138535,15.0,16:01:00,16:07:48,1,19.533333,4.533333,-6.800000,AP
618942,16,36.149997,36.149997,15.0,16:10:00,16:14:17,1,22.850000,7.850000,-9.300000,AP
618943,15,36.152077,36.152077,15.0,16:14:00,16:23:20,1,23.966666,8.966666,-9.333333,AP
618944,14,36.153870,36.153870,15.0,16:18:00,16:27:13,1,24.333333,9.333333,-10.983333,AP

In [83]:
ap_wego_late_count['ADHERENCE'].mean()

-11.595888205527478

In [76]:
ep_wego_late_count= wego_late_count.loc[wego_late_count['TIME_OF_DAY_CATEGORY']== 'EP']
ep_wego_late_count

,ROUTE_STOP_SEQUENCE,LATITUDE,LATITUDE,SCHEDULED_HDWY,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ADJUSTED_LATE_COUNT,ACTUAL_HDWY,HDWY_DEV,ADHERENCE,TIME_OF_DAY_CATEGORY
378,12,36.167091,36.167091,20.0,17:35:00,17:26:19,1,27.216666,7.216666,-8.400000,EP
379,13,36.154039,36.154039,20.0,17:45:00,17:52:40,1,29.000000,9.000000,-9.716666,EP
380,14,36.152286,36.152286,20.0,17:49:00,17:58:45,1,28.733333,8.733333,-9.750000,EP
381,15,36.150052,36.150052,20.0,17:53:00,18:01:49,1,28.533333,8.533333,-8.816666,EP
382,16,36.138948,36.138948,20.0,18:01:00,18:09:58,1,28.116666,8.116666,-8.966666,EP
...,...,...,...,...,...,...,...,...,...,...,...
618813,13,36.167091,36.167091,NaN,18:05:00,18:16:43,1,NaN,NaN,-11.716666,EP
618814,13,36.167091,36.167091,15.0,18:15:00,18:16:43,1,22.133333,7.133333,-7.333333,EP
618815,14,36.154039,36.154039,15.0,18:25:00,18:32:19,1,20.100000,5.100000,-7.316666,EP
618816,15,36.152286,36.152286,15.0,18:29:00,18:35:16,1,19.666666,4.666666,-6.266666,EP
618817,16,36.150052,36.150052,15.0,18:33:00,18:39:07,1,19.550000,4.550000,-6.116666,EP

In [85]:
ep_wego_late_count['ADHERENCE'].mean()

-11.03421045339263

In [78]:
ln_wego_late_count= wego_late_count.loc[wego_late_count['TIME_OF_DAY_CATEGORY']== 'LN']
ln_wego_late_count

,ROUTE_STOP_SEQUENCE,LATITUDE,LATITUDE,SCHEDULED_HDWY,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ADJUSTED_LATE_COUNT,ACTUAL_HDWY,HDWY_DEV,ADHERENCE,TIME_OF_DAY_CATEGORY
402,12,36.167091,36.167091,30.0,20:45:00,20:33:23,1,33.483333,3.483333,-6.366666,LN
414,12,36.167091,36.167091,30.0,22:15:00,22:01:00,1,36.366666,6.366666,-9.666666,LN
415,13,36.154039,36.154039,30.0,22:25:00,22:32:28,1,37.300000,7.300000,-7.466666,LN
416,14,36.152286,36.152286,30.0,22:29:00,22:35:42,1,36.316666,6.316666,-6.700000,LN
1005,15,36.150052,36.150052,30.0,20:03:00,20:09:30,1,31.116666,1.116666,-6.500000,LN
...,...,...,...,...,...,...,...,...,...,...,...
617656,16,36.149997,36.149997,30.0,22:17:00,22:24:08,1,37.183333,7.183333,-7.133333,LN
617657,15,36.152077,36.152077,30.0,22:20:00,22:26:17,1,36.766666,6.766666,-6.283333,LN
617668,16,36.149997,36.149997,30.0,23:47:00,23:53:21,1,35.266666,5.266666,-6.350000,LN
618544,18,36.132451,36.132451,30.0,22:32:00,22:10:51,1,34.966666,4.966666,-6.450000,LN
618832,18,36.132451,36.132451,30.0,20:32:00,20:12:35,1,32.150000,2.150000,-7.133333,LN

In [87]:
ln_wego_late_count['ADHERENCE'].mean()

-12.599983500776096